*{
    padding:0;
    margin:0;
}
html {
font-size: 12px;
font-family: sans-serif;
background-color: #8bbee9;
}
#header{
    padding-bottom: 20%;
}
.fadeIn{
    animation-name:fadeInAnime;
    animation-duration:2s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeInAnime{
      from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
    }
    .fadeLeft{
        animation-name:fadeLeftAnime;
        animation-duration:1.5s;
        animation-fill-mode:forwards;
        opacity:0;
        }
        
        @keyframes fadeLeftAnime{
          from {
            opacity: 0;
            transform: translateX(-100px);
          }
        
          to {
            opacity: 1;
            transform: translateX(0);
          }
        }

        .main{
            text-align: center;
        }
        .main img{
            width:80%;
        }
        .topword{
            writing-mode: vertical-rl; 
            text-align: top;
            float: right;
            margin-top: -30%;
            font-size: 2.5rem;
            color:white;
            margin-right: 20%;
            line-height: 2.2;
            text-decoration: underline #008ad5 40px ;
            text-underline-offset: -2.5rem;
            font-family: 	'ヒラギノ角ゴシック';
            letter-spacing: 0.3rem;
         }
         .fly{
            margin-top: 5%;
         }
         .fly img{
          max-width:40%;
         }

         .fadeUp{
            animation-name:fadeUpAnime;
            animation-duration:2.5s;
            animation-fill-mode:forwards;
            opacity:0;
            }
            
            @keyframes fadeUpAnime{
              from {
                opacity: 0;
                transform: translateY(100px);
              }
            
              to {
                opacity: 1;
                transform: translateY(0);
              }
            }
.rainbow img{
width:80%;
padding-top: 100px;

}  
.rainbow {
    text-align: center; 
} 
.more2{
    float:right;
    margin-right: 25%;
}  
 .more2:hover{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  }

#line{
    background-color: white;
    background-image: url(../img/lineback.png);
    background-size: cover;
    background-position: center;
    height:1250px;
}
.phone {
    padding-top:200px;
    text-align: center;
}
.phone img{
    width:50%;
}
#main1{
    background-color:white; 
    background-image: url(../img/wallpaper.png)  ;
    background-repeat: no-repeat;
    height:800px;
   background-size: 80%;
  background-position: center;
}
.wp{
   padding-top:350px;
   max-width: 1200px;
    margin:0px auto;
    display:flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    text-align: center;
 
}
.big{
    margin:0 auto;
}
.big img{
    max-width: 30%;
}
.big img:hover{transform:scale(1.2,1.2);}

#main2{
    background-color: #8bbee9; 
    position:relative;
}

.audio{
    text-align: center;
    padding:50px;
}
.sing{
    position:absolute;
    left:0;
    top:100px;
}
.sing img{
    width:50%;
}
.song{
    
    padding-top:100px;
    max-width: 50%;
    margin:0 auto;
    }

.lyric{
    text-align: center;
    margin:0 auto;

  padding-bottom: 500px;
}
.lyric img{
    max-width: 60%;
}
.shadow1{
    position:absolute;
    left:10px;
    bottom:-30px;
}
.shadow2{
    position:absolute;
    right:10px;
    bottom:-30px;
}
#footer{
    background-color: #008ad5;
    position: relative;
  
   
}
.hyogo{padding:50px;}

.fb{
    position: absolute;
    right:100px;
    top:100px;
}
.yt{
    position: absolute;
    right:150px;
    top:105px; 
}
.twitter{
    position: absolute;
    right:200px;
    top:100px;   
}
.wrapper{
    max-width: 1440px;
margin:0 auto;
}
   
